html {
  height: 100%;
}
body {
  margin: 0;
  margin-inline: auto;
  width: fit-content;
}
.image-parent {
  margin-inline: auto;
  display: block;
  width: fit-content;
  height: fit-content;
}
.image {
  max-height: 100dvh;
  max-width: 100%;
}